In [2]:
import pandas as pd

In [44]:
df = pd.read_excel('Data/pred/iphone/0.7/results.xlsx',)

In [45]:
df.head()

  file_name class_gt class_pred
0   100.JPG    front      front
1   101.JPG    front      front
2   102.jpg    front      front
3   103.JPG    front      front
4   104.JPG    front      front

In [46]:
df['prediction'] = df['class_gt'] == df['class_pred']

In [47]:
df.head()

  file_name class_gt class_pred  prediction
0   100.JPG    front      front        True
1   101.JPG    front      front        True
2   102.jpg    front      front        True
3   103.JPG    front      front        True
4   104.JPG    front      front        True

Accuracy

In [48]:
true_count_ratio = df['prediction'].sum() / df.shape[0]
print("Overall_accuracy:", true_count_ratio)

Overall_accuracy: 0.844311377245509

In [49]:
df_front = df[df['class_gt']=='front'].copy(deep=True)
true_count_ratio = df_front['prediction'].sum() / df_front.shape[0]
print("Front_Face_accuracy:", true_count_ratio)

Front_Face_accuracy: 1.0

In [50]:
df_profile = df[df['class_gt']=='profile'].copy(deep=True)
true_count_ratio = df_profile['prediction'].sum() / df_profile.shape[0]
print("profile_face_accuracy:", true_count_ratio)

profile_face_accuracy: 0.925

In [51]:
df_multi = df[df['class_gt']=='multiple_face'].copy(deep=True)
true_count_ratio = df_multi['prediction'].sum() / df_multi.shape[0]
print("multiple_Face_accuracy:", true_count_ratio)

multiple_Face_accuracy: 0.64

In [52]:
df_no_face = df[df['class_gt']=='no_face'].copy(deep=True)
true_count_ratio = df_no_face['prediction'].sum() / df_no_face.shape[0]
print("NO_Face_accuracy:", true_count_ratio)

NO_Face_accuracy: 0.8958333333333334